.cover__text-container_subtitle {
    margin: 0;
    max-width: 360px;

    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #fff;
    z-index: 5;
}

@media screen and (max-width: 768px) {

    .cover__text-container_subtitle {
        width: 46.87%;
        font-size: 2.34vw;
        line-height: 2.86vw;
    }
}

@media screen and (max-width: 320px) {
    .cover__text-container_subtitle {
        width: 90%;
        font-size: 4.37vw;
        line-height: 5vw;
    }
}