.footer__anchor {
    margin: 0;
    padding-right: 18px;

    color: #fff;
    outline: none;
    text-decoration: none;
}
.footer__anchor:hover {
    animation: links_opacity 0.3s ease-in-out forwards;
}

@keyframes links_opacity {
    from {
        opacity: 1
    }

    to {
        opacity: 0.8;
    }
}