.cover__subtitle {
    margin: 0;
    max-width: 360px;

    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #fff;
    z-index: 5;
}

@media screen and (max-width: 768px) {

    .cover__subtitle {
        width: calc(100vw /2.13);
        font-size: 2.34vw;
        line-height: 2.86vw;
    }
}
@media screen and (max-width: 550px) {
    .cover__subtitle {
        width: calc(100vw /1.20);
        font-size: 3.37vw;
        line-height: 3.91vw;
    }
}
@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 90%;
        font-size: 4.37vw;
        line-height: 5vw;
    }
}