.link-animation_time_longer:hover {
    animation: links_opacity_longer 0.6s ease-in-out forwards;
}

@keyframes links_opacity_longer{
    from {
        background-color:  rgba(42, 44, 47, 0);
    }

    to {
        background-color:  rgba(42, 44, 47, 0.7);
    }
}