.intro {
    margin: 0;
    padding: 0 48px 92px;

    color: #fff;

    box-sizing: border-box;
    width: 100%;
    max-width: calc(984px + 48px*2);
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 4.69%;
        padding-right: 4.69%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-left: 3.125%;
        padding-right: 3.125%;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 64px;
    }
}