.header__lang-link_lang-en {
    margin: 0;
    margin-left: 18px;

    color: #fff;
    outline: none;
    text-decoration: none;
}

.header__lang-link_lang-en:active {
    border-bottom: 2px solid #fff;
}