.header_lang-link_lang-ru {
    margin: 0;
    color: #fff;
    outline: none;
    text-decoration: none;

    text-decoration: underline;
    text-underline-offset: 6px;
}

.header_lang-link_lang-ru:active {
    border-bottom: 1px solid #fff;
}