.cover__text-container_title {
    margin: 0;
    max-width: 560px;

    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;

    color: #fff;
    z-index: 5;
}

@media screen and (max-width: 768px) {
    .cover__text-container_title {
        width: 72.9%;

        font-weight: 900;
        font-size: 10vw;
        line-height: 9.9vw;
    }
}

@media screen and (max-width: 320px) {
    .cover__text-container_title {
        width: 80%;

        font-size: 10vw;
        line-height: 11vw;
    }
}